<!--
  Generated template for the LaureatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
        <ion-title>Lauréats</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="laureat">

    <ion-item *ngFor="let lau of lauts">

        <div>
            <!-- active -->

            <h2 class="titleStyle">
                <ion-icon style="color: yellow;" name="star"></ion-icon>
                {{lau.categorie}} </h2>



            <img *ngIf="lau.image!=null" src="{{base_url}}{{lau.image}}">


        </div>

    </ion-item>




</ion-content>
<ion-footer>
    <ion-toolbar>

        <ion-segment>
            <ion-segment-button value="new" (click)="return()">

                <ion-icon ios="ios-arrow-back-outline" md="md-arrow-back"></ion-icon>


            </ion-segment-button>
            <ion-segment-button value="new" (click)="main()">

                <ion-icon color="primary" ios="ios-home" md="md-home"></ion-icon>

                Accueil




            </ion-segment-button>


            <ion-segment-button value="hot" (click)="apropos()">
                <ion-icon color="primary" ios="ios-aperture" md="md-aperture"></ion-icon>

                A propos
            </ion-segment-button>
        </ion-segment>


    </ion-toolbar>
</ion-footer>