page-register {
    ion-content {
        overflow: hidden !important;
    }
    ion-list {
        position: fixed;
        left: 0;
        right: 0;
    }
    .invalid {
        border: 1px solid #ea6153;
    }
}