page-main {
    ion-content {
        align-self: center;
        //background-image: url('../../assets/imgs/mainback.jpg');
    }
    ion-button {
        align-self: center;
        //position: fixed;
        //margin-right: 10%;
        margin-top: 40%;
    }
}