page-sponsors {
    .slider {
        height: 200px;
        /* slider height you want */
    }
    .slide {
        height: 100%;
        margin-top: 0em;
    }
    .header-banner {
        height: 180px;
        min-height: 180px;
    }
}