<!--
  Generated template for the SponsorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
        <ion-title>Sponsors & Partenaires</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label style="text-align: center; color: darkblue;">
        <h2> Nos Sponsors</h2>
    </ion-label>
    <ion-slides pager="true" class="header-banner">

        <ion-slide *ngFor="let spons of sponsors">


            <img *ngIf="spons.image!=null" src="{{base_url}}{{spons.image}}">

        </ion-slide>

    </ion-slides>
    <ion-label style="text-align: center; color: darkblue;">
        <h2> Nos partenaires</h2>
    </ion-label>

    <ion-slides pager="true" class="header-banner">

        <ion-slide *ngFor="let parte of partenair">


            <img *ngIf="parte.image!=null" src="{{base_url}}{{parte.image}}">

        </ion-slide>

    </ion-slides>


</ion-content>
<ion-footer>
    <ion-toolbar>

        <ion-segment>
            <ion-segment-button value="new" (click)="return()">

                <ion-icon ios="ios-arrow-back-outline" md="md-arrow-back"></ion-icon>


            </ion-segment-button>
            <ion-segment-button value="new" (click)="main()">

                <ion-icon color="primary" ios="ios-home" md="md-home"></ion-icon>

                Accueil




            </ion-segment-button>


            <ion-segment-button value="hot" (click)="apropos()">
                <ion-icon name="information-circle"></ion-icon>

                A propos
            </ion-segment-button>
        </ion-segment>


    </ion-toolbar>
</ion-footer>