<!--
  Generated template for the SponsorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>sponsors</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label>
        <h1> Nos Sponsors</h1>
    </ion-label>
    <ion-slides pager="true">

        <ion-slide *ngFor="let spons of sponsors">


            <img *ngIf="spons.image!=null" src="{{base_url}}{{spons.image}}">

        </ion-slide>

    </ion-slides>
    <ion-label>
        <h1> Nos partenaires</h1>
    </ion-label>
    <ion-slides pager="true">

        <ion-slide>


            <img src="assets/imgs/part1.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part2.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part3.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part4.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part5.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part6.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part7.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part8.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part9.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part10.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part11.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part12.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part13.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part14.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part15.png">

        </ion-slide>
        <ion-slide>


            <img src="assets/imgs/part16.png">

        </ion-slide>
    </ion-slides>

</ion-content>