<!--
  Generated template for the JurryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
          </button>
        <ion-title>Membres jurys</ion-title>
    </ion-navbar>
</ion-header>




<ion-content padding class="jury">
    <ion-list>
        <ion-item *ngFor="let ju of jurys">

            <ion-thumbnail item-left>
                <img *ngIf="ju.image!=null" src="{{base_url}}{{ju.image}}">
            </ion-thumbnail>

            <h2>{{ju.nom_jury}} {{ju.prenom_jury}}
            </h2>
            <h3>{{ju.pays}}</h3>
            <button ion-button class="ion-button-block-outline icon-only" fill="" color="transparent" class="ion-float-right"><a href="{{ju.profil_jury}}" target="blank_">
                    <ion-icon name="logo-linkedin" class="ion-float-right" style="color:white"></ion-icon></a>
                    </button>







        </ion-item>
    </ion-list>







</ion-content>
<ion-footer>
    <ion-toolbar>

        <ion-segment>
            <ion-segment-button value="new" (click)="return()">

                <ion-icon ios="ios-arrow-back-outline" md="md-arrow-back"></ion-icon>


            </ion-segment-button>
            <ion-segment-button value="new" (click)="main()">

                <ion-icon color="primary" ios="ios-home" md="md-home"></ion-icon>

                Accueil




            </ion-segment-button>


            <ion-segment-button value="hot" (click)="apropos()">
                <ion-icon color="primary" ios="ios-aperture" md="md-aperture"></ion-icon>

                A propos
            </ion-segment-button>
        </ion-segment>


    </ion-toolbar>
</ion-footer>